html, body {
  height: 100%;
  margin: 0;
}
nav a:link,
nav a:visited,
nav a:active,
nav a:hover {
  color: black;
  text-decoration: none;
}

nav a {
  margin-right: 18px;
  color: black;
  text-decoration: none;
}

body {
  background-color: pink;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

/* ===== FOOTER ===== */
footer {
  margin-top: auto;
  margin-bottom: 20px;
  font-size: 10px;
}

.footer-row {
  display: flex;
}

.footer-copy {
  margin-top: 10px;
  text-align: center;
}

/* varje kolumn */
.footer-column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* länkar */
footer a {
  text-decoration: none;
  color: black;
  display: inline-block;
}

h2 {
  font-family: 'Pacifico', cursive;
}

p {
  font-size: 14px;
}